@page "/poc/Localization/properties/cultureTimeZoneInfo"

<MudCard Elevation="5">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h6" Color="Color.Primary" Class="mb-4">@Resource.Time_Zone_Info</MudText>
            <MudFab OnClick="@ShowTipsDialog" Label="@Resource.Tips" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.TipsAndUpdates" Size="Size.Small" IconSize="Size.Small" Class="ma-2" />
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudSimpleTable Hover="true">
            <thead>
                <tr>
                    <th>@Resource.Property</th>
                    <th>@Resource.Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Resource.Browser_Time_Zone</td>
                    <td>@TimeZoneInfo.Local.DisplayName</td>
                </tr>
                <tr>
                    <td>@Resource.Time_Zone_OffSet</td>
                    <td>@TimeZoneInfo.Local.GetUtcOffset(DateTime.Now)</td>
                </tr>
                <tr>
                    <td>@Resource.Local_Time</td>
                    <td>@TimeOnly.FromDateTime(DateTime.Now)</td>
                </tr>
            </tbody>
        </MudSimpleTable>
    </MudCardContent>
</MudCard>